{% extends 'base-template.jinja' %}
{% block content %}
<div class="sidebar version-sidebar">
    <h5>SIMple Version:</h5>
    <div class="version-number"> {{ version }}</div>
</div>
<div class="container" style="float: contour;">
    <h3 align="center">Help and About</h3>
    <h4><a name="basics">Basics</a></h4>
    <hr>
    <p name="basics">
        Welcome to SIMple, the <u><b>S</b></u>imple <u><b>I</b></u>nventory <u><b>M</b></u>anager. Using SIMple should be&mdash;well&mdash;simple. Getting started should look something like this:
        <ol>
            <li>Add one or more locations using <a href="{{ url_for('location') }}">the Location page</a></li>
            <li>Add one more more products using <a href="{{ url_for('product') }}"> the Product page</a></li>
            <li>Quickly manage inventory using <a href="{{ url_for('summary') }}">the Home page</a> </li>
        </ol>
        That's it! Easy, right? However, there are a few things you should know.
    </p>
    <h4><a name="locations">Locations</a></h4>
    <hr>
    <p name="locations">
    At least one location is required before creating any products. Creating a location is very simple, only requiring the name of the location (e.g. "Office"). Afterwards, any products that are assigned to that location can be filtered from the home page.
    </p>
    <h4><a name="products">Products</a></h4>
    <hr>
    <p name="products">
        Addings products can be slightly more in-depth. Each product <b>requires</b> the following information when being added:
        <table class="table">
            <tr><td class="reference">Name</td><td>The product's name</td></tr>
            <tr><td class="reference">UPC</td><td>A barcode associated with the product</td></tr>
            <tr><td class="reference">Amount</td><td>The amount currently on-hand</td></tr>
            <tr><td class="reference">Quick Take</td><td>A "quick take" amount (more information below)</td></tr>
            <tr><td class="reference">Reorder At</td><td>The threshold amount of on-hand inventory before reordering more (more information below)</td></tr>
            <tr><td class="reference">Location</td><td>Where the item "is"</td></tr>
        </table>
        The following information is recommended, but not required:
        <table class="table">
            <tr><td class="reference">Reorder Amount</td><td>The amount in a new box (more information below)</td></tr>
            <tr><td class="reference">Categories</td><td>One or more categories</td></tr>
            <tr><td class="reference">Vendor, Reorder From</td><td>The vendor of the item, along with a url</td></tr>
            <tr><td class="reference">Purchase Cost</td><td>The cost to buy the item</td></tr>
            <tr><td class="reference">Sale Price</td><td>The price the item sells at</td></tr>
        </table>
        These values can be set at any time using the item's Edit menu in the Products page.
    </p>
    <h5><a name="quick-take">Quick Take</a></h5>
    <hr>
    <p id="quick-take">
        The amount assigned to <b>Quick Take</b> is the amount that will automatically be taken away when an existing item's UPC is scanned, or will be a value in the "Quick Take" screen on the home page. This is intended to make taking product, or even returning an unused product, as simple of a process as possible.

        <a href="javascript:qt_example()">Click here for an example</a>
        <div id="quick-take-example"></div>
    </p>
    <h5><a name="reorder-quantity">Reorder At</a></h5>
    <hr>
    <p id="reorder">
    When the on-hand quantity reaches the amount assigned to <b>Reorder At</b>, the button on the home page will turn <span class="low"><b>yellow</b></span>, indicating it should be reordered soon. This will also create a "Reorder" button within the item's Quick Edit menu. Once the "Reorder" button has been selected (hopefully after actually reordering more), a visual icon (<img id="reorder-icon" src="{{ url_for('static', filename='reordered.png')}}">) will appear on both the button on the home page and the item's listing on the Product page, and the "Reorder" button on the Quick Edit menu will be replaced with a "Restock" button.</p>
    <p>
    The button on the home page will turn <span class="warning"><b>orange</b></span> if the on-hand quantity falls below half of the <b>Reorder At</b> amount, and finally turn <span class="out" style="color: white;"><b>red</b></span> if completely out.
    </p>
    <h5><a name="restock">Restock Amount</a></h5>
    <hr>
    <p id="restock">
    The <b>Restock Amount</b> is not required, but is recommended in order to make using SIMple easier, especially if the items come in known quantities. For example, reams of Printer Paper can come in boxes of 5, so setting the <b>Restock Amount</b> on Printer Paper to 5 will cover one box, or if Printer Paper is a commonly used item, setting the <b>Restock Amount</b> to 15 will cover three boxes.
    </p>
    <h5><a name="sorting">Sorting</a></h5>
    <hr>
    <p id="sorting">
    Sorting is a way to make it easier to locate items, especially if there are a lot of items in the SIMple database.
    </p>
    <p>
    Currently, it is only possible to sort by location, but eventually it should be possible to sort by category of item as well, if the items are added to a category when originally added, or later in the Item Editor.
    </p>
    <h4><a id="final-thoughts">Final Thoughts</a></h4>
    <hr>
    <p>
    SIMple is a labor of love with several interesting features planned in the future. Feel free to check out source code or future plans at the <a href="https://github.com/SIMple-Inventory-Manager/SIMple">Github repository</a>. If you know HTML, CSS, JS, or Python, good contributions are always welcome.
    </p>
</div>
{% endblock %}
