{% extends 'base-template.jinja' %}
{% block content %}
    <div class="container" style="float: contour;" align="center">
    <h3 align="center">Summary</h3>
        <div class="form-horizontal" title="Summary">
        {% if not summary %}
        <h3 align="center" class="font-weight-light">No Available Products</h3>
        {% else %}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Quick Actions</th>
                        <th>Reorder?</th>
                    </tr>
                </thead>
                <thead>
                    {% for data in products %}
                        {# Set data we may need into easy-to-use variables #}
                        {% set prod_id        = data[0] %}
                        {% set prod_name      = data[1] %}
                        {% set prod_qty       = data[2] %}
                        {% set min_qty        = data[3] %}
                        {% set reorder_qty    = data[4] %}
                        {% set been_reordered = data[5] %}

                        {% set need_reordered = "No" %}
                        {% if prod_qty < min_qty %}
                            {% set need_reordered = "Yes <input type='checkbox' id='reorder_" + prod_id|string + "'>" %}
                        {% endif %}
                    <script>console.log({{data[3]}})</script>
                    <tr><td>{{ data[0] }}</td><td>{{ data[1] }}</td><td><button class="btn btn-danger" value="quick_subtract" data-target="#quick_remove_{{prod_id}}">-</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-success" value="quick_add" data_target="#quick_add_{{prod_id}}">+</button></td><td>{{ need_reordered}}</td></tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
