{% extends 'base-template.jinja' %}
{% block content %}
<!-- Raises alerts and messages on DB requests -->
<div id="trans_message" class="container">
        <H2>Transaction Failed</H2>
    <div class="content">
        <p>
            <H3>{{ error_code }}</H3>
            {{ transaction_message }}
        </p>
    </div>
    <div>
        <a href="{{ previous }}"><button type="button" class="btn btn-default">Close</button></a>
    </div>
</div>
{% endblock %}
