{% extends 'base-template.jinja' %}
{% block content %}
<div class="sidebar filter-sidebar">
    <form action="{{url_for('quick_filter', type='upc_search', page='product')}}" method="POST">
        <input name="quick-search-bar" type="search" placeholder="Scan UPC Here" required autofocus autocomplete="off">
        <input type="button" type="submit" accesskey="Enter" hidden>
    </form>
    <span class="needs-space"/>
    <h4>Filters</h4>
    <form action="{{url_for('quick_filter', type='loc_cat', page='product')}}" method="POST">
        <select name="location-filter">
        {% if extras["loc_filter"] == 1 %}
            <option value="{{ extras['filtered_loc_id'] }}">{{ extras['filtered_loc_name'] }}</option>
        {% endif %}
            <option value="0">All Products</option>
        {% for loc_id, loc_name in locations %}
            {% if loc_name != extras['filtered_loc_name'] %}
            <option value="{{loc_id}}">{{loc_name}}</option>
            {% endif %}
        {% endfor %}
        </select><br>
        <select name="category-filter">
            {% if extras["cat_filter"] == 1 %}
                <option value="{{ extras['filtered_cat_id']}}">{{ extras['filtered_cat_name']}}</option>
            {% endif %}
            <option value="0">All Categories</option>
            {% for cat_id, cat_name in categories %}
                {% if cat_name != extras['filtered_cat_name'] %}
                    <option value="{{ cat_id }}">{{ cat_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-success">filter</button>
    </form>
</div>
<div class="container">
    <h3 align="center">Inventory</h3>
    <hr>
    <div name="create-button" style="float: inline-right;" align="right">
        <button class="btn btn-success" value="create" data-toggle="modal" data-target="#create">add new</button>
    </div>
        <div id="create" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="trans_message" aria-hidden="true">
            <form action = "{{ url_for('product') }}" method = "POST">
                <div class="modal-dialog" role="document">
                    <div class="modal-content new-item">
                    <div id="tr-close">
                        <button class="btn" style="float: right" data-dismiss="modal">X</button>
                    </div>
                        <h3 align="center">New Item</h3>
                        <div class="modal-body">
                        <table id="create-item">
                            <tr>
                                <td>Name:<span class="required">*</span></td><td><input name="prod_name" placeholder="Product Name" required autofocus autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td>UPC:<span class="required">*</span></td><td><input name="prod_upc" placeholder="Item UPC" required autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td>Amount:<span class="required">*</span></td><td><input name="prod_quantity" placeholder="Current On Hand" type="number" required autocomplete="off"> </td>
                            </tr>
                            <tr>
                                <td>Quick Take:<span class="required">*</span></td><td><input name="quick_take_qty" placeholder="Amount to remove quickly" type="number" required autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td>Reorder At:<span class="required">*</span></td><td><input name="reorder_qty" placeholder="When to reorder" type="number" required autocomplete="off"> </td>
                            </tr>
                            <tr>
                                <td>Reorder Amount:</td><td><input name="restock_qty" placeholder="Amount in Box" type="number" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td>Location:<span class="required">*</span></td><td>
                                <select name="location" required>
                                {% if not locations %}
                                    <option>No locations available</option>
                                {% else %}
                                    <option>Please select a location</option>
                                {% for loc_id, loc_name in locations %}
                                    <option value="{{ loc_id }}">{{loc_name}}</option>
                                {% endfor %}
                                {% endif %}
                                </select></td>
                            </tr>
                           <tr>
                                <td> Categories:</td><td>
                                <select name="categories">
                                {% if not categories %}
                                    <option>No categories available</option>
                                    <!-- https://www.geeksforgeeks.org/how-to-use-checkbox-inside-select-option-using-javascript/ -->
                                    <!-- https://getbootstrap.com/docs/4.0/components/dropdowns/ -->
                                {% else %}
                                    <option>No category selected</option>
                                    {% for cat_id, cat_name in categories %}
                                        <option value="{{ cat_id }}"> {{ cat_name }}</option>
                                    {% endfor %}
                                {% endif %}}
                                </select></td>
                            </tr>
                            </table>
                        <a href="javascript:enable_advanced('create')" id="advanced-items-toggle-create">Advanced Items ▼</a>

                        </div>
                        <div id="extra-options-create" class="modal-body">
                            <input name='advanced' value='False' hidden>
                        </div>
                        <div class="modal-footer">
                            <span id="modal-disclaimer">Items marked with asterisk (<span class="required">*</span>) are required</span>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
    <div class="form-horizontal needs-space" title="Item List">
    <table class="table">
        <thead>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Minimum</th>
            <th scope="col">Reorder</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for product in products %}
                {# Set data we may need into easy-to-use variables #}
                {% set prod_id        = product[0] %}
                {% set prod_name      = product[1] %}
                {% set prod_upc       = product[2] %}
                {% set prod_qty       = product[3]|int %}
                {% set quick_take_qty = product[4]|int %}
                {% set min_qty        = product[5]|int %}
                {% set restock_qty    = product[6]|int %}
                {% set prod_loc       = product[7]|int %}
                {% set prod_cat       = product[8] %}
                {% set been_reordered = product[9]|int %}
                {% set vendor         = product[10] %}
                {% set vendor_url     = product[11] %}
                {% set purchase_cost  = product[12] %}
                {% set sale_price     = product[13] %}

                {# Data Validation -- pretty sure this can/should be done server-side #}
                {% if not prod_cat %}
                    {% set prod_cat = "" %}
                {% else %}
                    {% set prod_cat = prod_cat|int %}
                {% endif %}
                {% if not vendor %}
                    {% set vendor = "" %}
                {% endif %}
                {% if not vendor_url %}
                    {% set vendor_url = "" %}
                {% endif %}
                {% if not purchase_cost %}
                    {% set purchase_cost = "" %}
                {% else %}
                    {% set purchase_cost = purchase_cost|float %}
                {% endif %}
                {% if not sale_price %}
                    {% set sale_price = "" %}
                {% else %}
                    {% set sale_price = sale_price|float %}
                {% endif %}

                {% set need_reordered = "No" %}
                {% if prod_qty < min_qty %}
                    {% if been_reordered == 1 %}
                        {% set need_reordered = "In Transit<br><img name='reorder' id='reorder-icon' src=" + url_for('static', filename='reordered.png') +">" %}
                        {% set tickbox_state = "checked" %}
                    {% else %}
                        {% set need_reordered = "Yes" %}
                        {% set tickbox_state = "" %}
                    {% endif %}
                {% endif %}

                {% if prod_qty < min_qty %}
                    {% if prod_qty == 0 %}
                        {% set state="out" %}
                    {% elif prod_qty <= (min_qty/2) %}
                        {% set state="warning" %}
                    {% else %}
                        {% set state="low" %}
                    {% endif %}
                {% endif %}

                {% set unhooked_id = products.index(product)+1 %}
                <tr class="{{ state }} product-row">
                    <td>{{ unhooked_id }}</td>
                    <td>{{ prod_name }}</td>
                    <td>{{ prod_qty }}</td>
                    <td>{{ min_qty }}</td>
                    <td>{{ need_reordered }}</td>
                    <td>
                        <a href="{{ url_for('delete', prod_id=prod_id, type='product') }}">
                            <button name="button" type="button" class="btn btn-danger" value="delete" >delete</button><br>
                        </a>
                    </td>
                    <td>
                        <button name="button" type="button" class="btn btn-success" value= "edit" data-toggle="modal" data-target="#edit_{{ prod_id }}" >edit</button><br>
                        <div id="edit_{{ prod_id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="trans_message" aria-hidden="true">
                            <form action="{{ url_for('edit', type='product') }}" method="post" class="base_form">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content new-item">
                                <div id="tr-close">
                                    <button class="btn" style="float: right" data-dismiss="modal">X</button>
                                </div>
                                    <h3 align="center">{{ prod_name }}</h3>
                                    {% if prod_qty < min_qty %}
                                        <div align="center"> Reordered: <input type="checkbox" name="reordered" action="{{url_for('quick_change', type='reorder')}}" {{ tickbox_state }}></div>
                                    {% endif %}

                                    <div class="modal-body">
                                    <table>
                                        <tr>
                                            <td>Name:</span></td><td><input name="prod_name" value="{{ prod_name }}" autofocus autocomplete="off"></td>
                                        </tr>
                                        <tr>
                                            <td>UPC:</td><td> <input name="prod_upc" placeholder="{{ prod_upc }}" autocomplete="off"></td>
                                        </tr>
                                        <tr>
                                            <td>Amount:</td><td><input name="prod_quantity" placeholder="{{ prod_qty}}" type="number" autocomplete="off"> </td>
                                        </tr>
                                        <tr>
                                            <td>Quick Take:</td><td><input name="quick_take_qty" placeholder="{{ quick_take_qty }}" type="number" autocomplete="off"></td>
                                        </tr>
                                        <tr>
                                            <td>Reorder At:</td><td><input name="reorder_qty" placeholder="{{ min_qty }}" type="number" autocomplete="off"> </td>
                                        </tr>
                                        <tr>
                                            <td>Reorder Amount:</td><td><input name="restock_qty" placeholder="{{ restock_qty }}" type="number" autocomplete="off"></td>
                                        </tr>
                                        <tr>
                                            <td>Location:</td><td>
                                            <select name="location">
                                            {% if not locations %}
                                                <option>No locations available</option>
                                            {% else %}
                                                {% for loc_id, loc_name in locations %}
                                                    {% if prod_loc|int == loc_id %}
                                                        <option value="{{ loc_id }}">{{ loc_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for loc_id, loc_name in locations %}
                                                    {% if loc_id|int != prod_loc %}
                                                        <option value="{{ loc_id }}">{{loc_name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            </select></td>
                                        </tr>
                                        <tr>
                                            <td> Categories:</td><td>
                                            <select name="categories" >
                                            {% if not categories %}
                                                <option>No categories available</option>
                                                <!-- https://www.geeksforgeeks.org/how-to-use-checkbox-inside-select-option-using-javascript/ -->
                                            {% else %}
                                                {% if prod_cat != 0 %}
                                                    {% for cat_id, cat_name in categories %}
                                                        {% if cat_id|int == prod_cat %}
                                                            <option value="{{ cat_id }}">{{ cat_name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <option>No category selected</option>
                                                {% endif %}
                                                {% for cat_id, cat_name in categories %}
                                                    {% if cat_id|int != prod_cat %}
                                                        <option value="{{ cat_id }}">{{ cat_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            </select></td>
                                        </tr>
                                        </table>
                                        <a href="javascript:enable_advanced({{ [prod_id, vendor, vendor_url, purchase_cost, sale_price] }})" id="advanced-items-toggle-{{ prod_id }}">Advanced Items ▼</a>

                        </div>
                        <div id="extra-options-{{prod_id}}" class="modal-body">
                            <input name='advanced' value='False' hidden>
                        </div>
                                    <div class="modal-footer">
                                        <input name="prod_id" value="{{ prod_id }}" hidden aria-hidden="true">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                            <script>
                            </script>
                            </div>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <!-- Inserting data -->
        </tbody>
    </table>
    </div>
    {% block item_modal %}
    {% endblock %}
</div>
<script>
    let close = document.getElementsByClassName("btn btn-default");
    for (let i=0; i<close.length; i++){
        close[i].onclick = function () {
            let clear_fields = document.getElementsByClassName("base_form");
            for(let i=0;i<clear_fields.length;i++){
                clear_fields[i].reset();
            }
            let all = document.getElementsByClassName("btn btn-primary");
            for(let i=0;i<all.length;i++){
                all[i].disabled = false;
            }
        }
    }
</script>
{% endblock %}
