{% extends 'base-template.jinja' %}
{% block content %}
    <div class="container" align="center">
    <h3 align="center">Reports</h3>
    <hr>
    {% set total_cost = extras["total_cost"]|float %}
    {% set total_net = extras["total_net"]|float %}

    {% if total_cost > total_net  %}
        {% set gain_loss = "Loss" %}
        {% set gl_amount = total_cost - total_net %}
        {% set gl_color = "cost" %}
    {% elif total_cost < total_net %}
        {% set gain_loss = "Gain" %}
        {% set gl_amount = total_net - total_cost %} 
        {% set gl_color = "revenue"%}
    {% endif %}

    <div id="chart" align="center">
    <h4 align="center">At a Glance</h4>
    <table class="chart">
        <tr>
            <td>Cost:</td><td><span class="cost bar" style="width:{{ extras['cost_span'] }}px;"></span></td>
        </tr>
        <tr>
            <td>Revenue:</td><td><span class="revenue bar" style="width:{{ extras['net_span'] }}px;"></span></td>
        </tr>
    </table>
    </div>
    <div class="right">
    <h4 align="center">Inventory Summary</h4>
    <table id="totals" class="summary-table">
        <tr>
            <td>Total Categories:</td><td>{{ extras["total_cat"] }}</td>
        </tr>
        <tr>
            <td>Total Locations:</td><td>{{ extras["total_loc"] }}</td>
        </tr>
        <tr>
            <td>Total Products:</td><td> {{ extras["total_prod"] }}</td>
        </tr>
        <tr>
            <td>Itemized Products:</td><td> {{ extras["itemized_costs"] }}</td>
        </tr>
        <tr>
            <td>Sellable Products:</td><td> {{ extras["itemized_revenue"] }} </td>
        </tr>
    </table>
    </div>
    <div class="left">
    <h4 align="center">Costs and Potential Revenue</h4>
    <table id="breakeven" class="summary-table">
        <tr>
            <td>Total Cost of Inventory:</td><td>{{ "${:,.2f}".format(extras["total_cost"]) }}</td>
        </tr>
        <tr>
            <td>Potential Revenue:</td><td>{{ "${:,.2f}".format(extras["total_net"]) }}</td>
        </tr>
        <tr>
            <td>Total {{ gain_loss }}: </td><td><span class="gl-text {{ gl_color }}">{{ "${:,.2f}".format(gl_amount) }}</span></td>
        </tr>
    </table>
    </div>
</div>

{% endblock %}