{% extends 'base-template.jinja' %}
{% block content %}
<div class="container" style="float: contour;" align="center">
    <h3 align="center">Settings</h3>
    <hr>
    <div id="category-settings" class="right">
        <h5>Categories:</h5>
            {% if categories %}
            <table class="table small-table">
                <th>Category Name</th><th></th><th></th>
                {% for cat_id, cat_name in categories %}
                <tr>
                    <td>{{cat_name}}</td>
                    <td> <a href="{{ url_for('delete', cat_id=cat_id, type='category') }}">
                        <button name="button" type="button" class="btn btn-danger" value="delete">delete</button>
                    </a>
                    </td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <option>No Categories Available</option>
            {% endif %}
        </table>
        <form action="{{ url_for('categories') }}" method="POST">
            <input name="new_category" style="width: 175px;" class="needs-space">
            <button class="btn btn-primary" type="submit">add new</button>
        </form>
    </div>

    <div id="location-settings" class="left">
        <h5>Default Location Filter:</h5>
        <p>Filter items on Home page by default.</p>
            <form action="{{url_for('set_filter')}}" method="POST">
                <select name="location-filter">
                {% if location_selected == 1 %}
                    <option value="{{ filtered_loc_id }}">{{ filtered_loc_name }}</option>
                {% endif %}
                    <option value="0">All Products</option>
                {% for loc_id, loc_name in locations %}
                    {% if loc_id != filtered_loc_id %}
                    <option value="{{loc_id}}">{{loc_name}}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <input name="category-filter" value="" hidden/>
                <button type="submit" class="btn btn-success">filter</button>
            </form>
        </div>
    {% if extras["user-access"] and extras["user-access"]|int <= 2 %}
        <div id="user-settings" class="left">
            <h5>Users</h5>
            <div name="create-button" style="float: inline-right;" align="right">
                <button class="btn btn-success" value="create" data-toggle="modal" data-target="#create">add new</button>
                <div id="create" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="trans_message" aria-hidden="true">
                    <form action = "{{ url_for('users', type='create') }}" method = "POST">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content new-item">
                        <div id="tr-close">
                            <button class="btn" style="float: right" data-dismiss="modal">X</button>
                        </div>
                        <h3 align="center">Add User</h3>
                        <div class="modal-body" align="left">
                        <table id="create-item">
                            <tr>
                                <td>User Name:<span class="required">*</span></td><td><input name="user-name" placeholder="Name of User" required></td>
                            </tr>
                                <td>User ID:</td><td><input name="user-id" placeholder="{{ extras['next-id'] }}"></td>
                            <tr>
                                <td>Level of Access:<span class="required">*</span></td><td>
                                    <select name="access" required>
                                        <option value="-">Select One</option>
                                        {% for access_id, access_type in access %}
                                        <option value="{{ access_id }}">{{ access_type }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Active:</td><td><input type="checkbox" name="active" checked></td>
                            </tr>
                        </table>
                        </div>
                        <div class="modal-footer">
                            <span id="modal-disclaimer">Items marked with asterisk (<span class="required">*</span>) are required</span>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>  
            {% if not users %}
                No users available
            {% else %}
            <table class="table small-table">
                <th>User Name</th><th>Access Level</th><th>Active</th><th></th><th></th>
                {% for user_id, name, access_level, active in users %}
                    {% set ns = namespace (level = "" ) %}
                    {% if active|int == 1 %}
                        {% set active = "Active" %}
                        {% set active_box = "Checked" %}
                    {% elif active|int == 0 %}
                        {% set active = "Inactive" %}
                        {% set active_box = "" %}
                    {% endif %}
                    {% for access_id, access_type in access %}
                        {% if access_level|int == access_id|int %}
                            {% set ns.level = access_type %}
                        {% endif %}
                    {% endfor %}
                <tr>
                    <td>{{ name }}</td><td>{{ ns.level }}</td><td>{{ active }}</td><td><a href="{{ url_for('delete', user_id=user_id, type='user') }}">
                        <button name="button" type="button" class="btn btn-danger" value="delete">delete</button>
                    </a></td><td><button name="button" type="button" class="btn btn-success" value= "edit" data-toggle="modal" data-target="#edit_{{ user_id }}" >edit</button>
                    <div id="edit_{{ user_id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="trans_message" aria-hidden="true">
                    <form action = "{{ url_for('users', type='edit') }}" method = "POST">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content new-item">
                        <div id="tr-close">
                            <button class="btn" style="float: right" data-dismiss="modal">X</button>
                        </div>
                        <h3 align="center">Edit User</h3>
                        <div class="modal-body" align="left">
                        <table id="create-item">
                            <tr>
                                <td>User Name:</td><td><input name="user-name" placeholder="{{ name }}"></td>
                            </tr>
                            <tr>
                                <td>Level of Access:</td><td>
                                    <select name="access">
                                        <option value="-">{{ ns.level }}</option>
                                        
                                        {% for access_id, access_type in access %}
                                            {% if ns.level != access_type %}
                                        <option value="{{ access_id }}">{{ access_type }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Active:</td><td><input type="checkbox" name="active" {{ active_box }}></td>
                            </tr>
                        </table>
                        </div>
                        <div class="modal-footer">
                            <input name="user-id"  value="{{ user_id }}" hidden>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">edit</button>
                        </div>r
                    </form>
                    </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %} 
        </div>

    {% endif %}
</div>
{% endblock %}
