.subtract{
    background-image= url("ui/minus-button.svg")
}

#modal-disclaimer {
    font-style: italic;
    font-size: .8em;
}

.new-item{
    padding: 15px;
}

.required {
    color: red;
}

/* Custom item buttons */
.item-btn {
    min-height: 5em;
    min-width: 10em;
    margin: .5em;
    font-size: 1.2em;
    border: 1px solid black;
}

.stocked{
    background-color: #008000;
    color: white;
}

.stocked:hover {
    background-color: #005500;
}

.low{
    background-color: #ffff00;
}

.low:hover{
    background-color: #cccc00;
}

.warning{
    background-color: #ff6600;
}

.warning:hover{
    background-color: #d45500;
}

.out{
    background-color: #ff0000;
}

.out:hover{
    background-color: #d40000;
}
